Source: linaro-django-xmlrpc
Section: net
Priority: optional
Maintainer: Debian LAVA team <pkg-linaro-lava-devel@lists.alioth.debian.org>
Uploaders: Antonio Terceiro <terceiro@debian.org>,
 Neil Williams <codehelp@debian.org>,
 Fathi Boudra <fabo@debian.org>, Jordi Mallach <jordi@debian.org>
Build-Depends: debhelper (>= 8.0.0),
 python | python-all | python-dev | python-all-dev,
 python-setuptools
X-Python-Version: 2.7
Standards-Version: 3.9.5
Homepage: http://www.linaro.org/engineering/validation
Vcs-Git: git://git.linaro.org/people/neil.williams/linaro-django-xmlrpc.git
Vcs-Browser: https://git.linaro.org/people/neil.williams/linaro-django-xmlrpc.git

Package: linaro-django-xmlrpc
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}
Description: Linaro XML-RPC for Django
 Flexible XML-RPC application for Django projects
 used by Linaro infrastructure team
